- content_for :title do
  = ULearning
  \|
  = "#{@user.username} Profile"
%h2 
  = "#{@user.username.capitalize}'s  Profile" 
= render "users/user", user_reg: @user
%div.mt-2
  = link_to user_google_oauth2_omniauth_authorize_path, method: :post do
    .fab.fa-google.text-white
      Sign in with Google
- if @user.provider.present?
  %h4
    = @user.provider
  %div
    = @user.email
  %div
    -if @user.image.present?
      = image_tag @user.image, class: 'rounded-circle',size: '30x30', alt: "#{@user.email}"