.jumbotron.bg-light.p-5.rounded
  %h1.display-4 What do you want to learn today?
  = search_form_for @ransack_courses, as: :courses_search , url: courses_path do |f|
    .input-group
    = f.search_field :title_or_user_email_cont, placeholder: 'Find Course by Title or Author', class: 'form-control', style: 'float: left; width: 250px;'
    %span.input-group-append
      %button.btn.btn-primary.btn-sm.mt-1{:type => 'Submit'}
        %span.fa.fa-search{'aria-hidden' => 'true'}
%p
%div.grid2
  .card.p-4
    .card-body.p-0
    .fa.fa-graduation-cap.fa-4x
    = Course.count 
    online courses
    %p
    Explore variety of fresh courses
  .card.p-4
    .card-body.p-0
    .fa.fa-chalkboard-teacher.fa-4x
    = Course.distinct.count(:user)
    Expert Instructor
    %p
    Find the best Instructor for you
  .card.p-4
    .card-body.p-0
    .fa.fa-user-graduate.fa-4x
    = User.count 
    Active learners
    %p
    Join the online community of learners
  .card.p-4
    .card-body.p-0
    .fa.fa-infinity.fa-4x
    Life Access
    %p
    Learn at your own pace and time

%hr
%h3 Popular Courses
%div.grid-system
  - @courses.each do |cour|
    = render 'layouts/course', course: cour
%hr
%h3 Top Courses
%div.grid-system
  - @courses.each do |cour|
    = render 'layouts/course', course: cour
%hr
%h3 Latest Courses
%div.grid-system
  - @latest_courses.each do |cour|
    = render 'layouts/course', course: cour
%hr