- content_for :title do
  ULearning
  \|
  All Subscriptions
%h2
  .text-center
    Subscriptions
    .badge.bg-secondary
      = @subscriptions.size
%p
%p
.table-responsive
  %table.table.table-bordered.table-sm.table-striped
    %thead
      %tr
        %th Course
        %th User
        %th Price
        %th Review
        %th Rating
        %th
        %th
        %th

    %tbody
      - @subscriptions.each do |subscription|
        %tr
          %td= subscription.course.title
          %td= subscription.user.username
          %td=  number_to_currency(subscription.price)
          %td= subscription.review
          %td= subscription.rating
          %td= link_to 'Show', subscription
          %td= link_to 'Edit', edit_subscription_path(subscription)
          %td= link_to 'Destroy', subscription, method: :delete, data: { confirm: 'Are you sure?' }

  %br

  = link_to 'New Subscription', new_subscription_path
