- content_for :title do
  ULearning
  \|
  All Subscriptions
%h2
  .text-center
    Subscriptions
    .badge.bg-secondary
      = @subscriptions.size
%p
%p
.table-responsive
  %table.table.table-bordered.table-sm.table-striped
    %thead
      %tr
        %th ID
        %th
          .fa.fa-user
          Username
        %th 
          .fa.fa-graduation-cap
          Course
        %th
          .fa.fa-clock
          .fa.fa-lock-open
          Bought
        %th
          .fa.fa-dollar-sign
          Price
        %th 
          .text-warning.fa.fa-clock
          Reviewed on
        %th
          .text-warning.fa.fa-comment
          Review
        %th
          .text-warning.fa.fa-star
          Rating
        %th
        %th
        %th

    %tbody
      - @subscriptions.each do |subscription|
        %tr
          %td= subscription.id
          %td= link_to subscription.user.username, subscription.user
          %td= link_to subscription.course.title, subscription.course
          %td= subscription.created_at.strftime('%D - %r')
          %td=  number_to_currency(subscription.price)
          %td
            - if subscription.rating.present?
              = subscription.updated_at.strftime('%D - %r')
          %td= subscription.review
          %td= subscription.rating
          %td= link_to 'See Review', subscription
          %td= link_to 'Add review', edit_subscription_path(subscription)
          %td= link_to 'Delete Subscription', subscription, method: :delete, data: { confirm: 'Are you sure?' }

  %br

  = link_to "Back to Courses", courses_path
