- content_for :title do
  U-learning
  \|
  = @subscription.user.username
  \|
  = @subscription.course.title

%p
.card
  .card-header
    %h4
      = "#{@subscription.user.username}'s"
      Subscription for
      = @subscription.course.title
  .card-body
    %b Price:
    = number_to_currency(@subscription.price)
    %p
    %b Review:
    = @subscription.review
    %p
    %b Rating:
    = @subscription.rating
  .card-footer
    = link_to 'Edit', edit_subscription_path(@subscription)
    \|
    = link_to 'Back', subscriptions_path

  


