%b
  You have subscribed in the course
= link_to @subscription.course.title, @subscription.course
.r1ow
%b
  Subscription date:
= @subscription.created_at
.row
%b
  Subscription ID:
= @subscription.slug
.row
%b
  Course price:
= number_to_currency(@subscription.course.price)
.row
%b
  Price paid:
= number_to_currency(@subscription.price)
.row
%b
  Course instructor:
= @subscription.course.user.username
= mail_to @subscription.course.user.email, @subscription.course.user.email
%p
After completing the course, you will be entitled to a Certificate of Completion.
%p
Regards,
.row
= link_to 'The U-learning team', root_url