= link_to 'Courses', courses_path
\/
= link_to "#{@course.title}", edit_course_path(@course)
%p
.row
  .col-lg-6
    = render 'courses/course', course: @course
  .col-lg-6
    = link_to 'Add a lesson', new_course_lesson_path(@course, @lesson)
    - if  @course_lessons.present?
      %h3
        =  "Lessons on #{@course.title}"
      - @course_lessons.each do |lessoner|
        = render 'lessons/lesson', lesson: lessoner
    - else
      %h3
        The course has no Lessons yet
